@use "@angular/material" as mat;
@import "tailwindcss";

$customTheme: mat.define-theme();

.custom-theme {
  @include mat.all-component-themes($customTheme);
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md;
  }
}

.container {
  @apply mx-auto;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: rgba(255, 0, 0, 0.795);
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.text-primary {
  color: #7d00fa;
}
