<section>
  @if (cartService.cart()?.items?.length) {
  <div class="flex w-full align-items-start gap-6 mt-8">
    <div class="w-full">
      @for (item of cartService.cart()?.items; track item.productId) {
      <app-cart-item [item]="item"></app-cart-item>
      }
    </div>
    <app-order-summary></app-order-summary>
  </div>
  } @else {
  <app-empty-state
    message="Your cart is empty"
    icon="shopping_cart"
    actionText="Start shopping"
    (action)="router.navigate(['/shop'])"
  ></app-empty-state>
  }
</section>
