<header class="p-3 w-full shadow-md max-h-20 fixed top-0 z-50 bg-white">
  <div
    class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto"
  >
    <!-- <img src="/images/logo.png" alt="app logo" class="max-h-16" /> -->
    <a routerLink="/">
      <svg
        width="200"
        height="50"
        viewBox="0 0 200 50"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
      >
        <text
          x="10"
          y="40"
          font-family="Arial, sans-serif"
          font-size="40"
          font-weight="bold"
          fill="#222"
        >
          M1rko96
        </text>
      </svg>
    </a>

    <nav class="flex gap-3 my-2 uppercase text-xl">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
      <a routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="flex gap-3 align-middle">
      <a
        routerLink="/cart"
        routerLinkActive="active"
        matBadge="5"
        matBadgeSize="large"
        class="custom-badge mt-2 mr-2"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button mat-stroked-button>Login</button>
      <button mat-stroked-button>Register</button>
    </div>
  </div>
</header>

@if (busyService.loading) {
<mat-progress-bar
  class="fixed top-20 z-50 w-full"
  [mode]="progressBarMode"
></mat-progress-bar>
}
